/* Estilos CSS para la cabecera y los elementos */
#header {
    display: flex; /* Usa flexbox para colocar los elementos en línea */
    align-items: center; /* Centra verticalmente los elementos */
    margin-bottom: 20px; /* Espacio debajo de la cabecera */
    
}

#header img {
    width: 100px; /* ajusta el tamaño del logo según sea necesario */
    margin-right: 15px; /* Espacio entre el logo y el texto */
    margin-left: 30px;
}

#header h1 {
    margin-right: 30px; 
    font-family:'Times New Roman', Times, serif;
}

#botones {
    display: flex; /* Usa flexbox para colocar los botones en línea */
}

#botones a {
    margin-right: 10px;
    color: blue; 
    font-size: 20px;
    text-decoration: underline;
}

/* Estilos CSS para la línea debajo de la cabecera */
#header-line {
    border-bottom: 1px solid #ccc; /* Color y grosor de la línea */
    margin-bottom: 20px; /* Espacio debajo de la línea */
}

