<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página Principal</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

<div id="header">
    <img src="ruta/al/logo.png" alt="Logo de tu empresa">
    <h1>DIY4rent</h1>
    <div id="botones">
        <a onclick="window.location.href='/hello'">Home</a>
        <a onclick="window.location.href='/mytools'">My Tools</a>
        <a onclick="window.location.href='/publish'">Publish</a>
    </div>
</div>

<div id="header-line"></div> 

</body>
</html>

